{% extends 'base.html' %}
{% load poll_extras %}
{%  load staticfiles %}
{% block title %}Настройки{% endblock %}
{% block nav_header %}
    <h1>Сменить email</h1>
{% endblock %}
{% block js %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12 m5">
            <div class="card-panel">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn waves-effect waves-light" type="submit">Сменить
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
